body 
{
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font: 12px "Helvetica", courier, monospace;
}

#page {
  text-align: center;
  color: #000000;
}

.clear {
  clear: both;
}

.main {
  border: 1px solid #000000;
  padding: 10px;
  float: left;
}

.title {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
}

.subtitle {
  font-size: 24px;
  padding-bottom: 5px;
}

.column {
  float: left;
  padding-right: 10px;
}

.uplink {
  float: right;
  font-size: 18px;
}

.lastupdate {
  float: right;
  font-size: 10px;
}

.fulldata {
  float: right;
  padding: 5px;
}

table td {
  padding: 10px 3px 3px 3px;
}

.subtable {
  padding: 5px;
  border: 1px solid #000000;
}

h3 {
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:link {
  color: #0000ff;
}

a:visited {
  color: #0000ff;
}

a:active {
  color: #0000ff;
  text-decoration: underline;
}

a:hover {
  color: #0000ff;
  text-decoration: underline;
}
